@font-face {
    font-family: 'Seven Segment';
    src: url('./assets/Seven Segment.ttf');
}

:root {
    --yellow: #FEBC0D;
    --red: #FE0A08;
    --black: #1c1c1c;
    --white: #ffffff;
    --green: #00AA4F;
    --border-radius: 1rem;
}

* {
    user-select: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
}

.container {
    border-radius: var(--border-radius);
    border: var(--black) 5px solid;
    padding: 20px;
    background-color: var(--yellow);
}

* {
    box-sizing: border-box;
}

.btn {
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    aspect-ratio: 1/1 !important;
    width: 30px;
    cursor: pointer;
    border: var(--black) 2px solid;
    
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000;
    box-shadow: inset 4px 4px 15px 0px #000000;
}

.btn-lg {
    width: 60px;
}

.btn-red {
    background-color: var(--red);
}

.btn-green {
    background-color: var(--green);
}

.btn-white {
    background-color: var(--white);
}

#power-btn.on {
    border-color: var(--green);
    -webkit-animation: glowing .5s ease-in-out infinite alternate;
    -moz-animation: glowing .5s ease-in-out infinite alternate;
    animation: glowing .5s ease-in-out infinite alternate;
}

#power-btn.off {
    background-color: white;
}

.d-flex {
    display: flex;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-wrapper span {
    font-weight: bold;
}

.section-wrapper {
    margin: 10px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px var(--black) solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.m-10 {
    margin: 10px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.btn:active {
    -webkit-box-shadow: inset 4px 10px 20px 0px #000000; 
    box-shadow:  inset 4px 10px 20px 0px #000000;
}

.btn:disabled:active {
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000;
    box-shadow: inset 4px 4px 15px 0px #000000;
}

.btn:disabled {
    background-color: var(--black);
    cursor: not-allowed;
}

.btn:disabled::after {
    content: 'OFF'
}
.display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Seven Segment', Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: var(--black);
    color: var(--black);
}

.bg-black {
    background-color: var(--black);
}

.text-red {
    color: var(--red);
}

.text-green {
    color: var(--green);
}

.text-black {
    color: var(--black);
}

@keyframes glowing {
    from {
        -webkit-box-shadow: 0px 0px 27px -1px var(--green), inset 4px 4px 15px 0px #000000; 
        box-shadow: 0px 0px 27px -1px var(--green), inset 4px 4px 15px 0px #000000;
    }
    to {
        -webkit-box-shadow: 0px 0px 27px 9px var(--green), inset 4px 4px 15px 0px #000000; 
        box-shadow: 0px 0px 27px 9px var(--green), inset 4px 4px 15px 0px #000000;
    }
  }